@import '../node_modules/@asciidoctor/core/dist/css/asciidoctor.css';

body {
    font-family: "Open Sans","DejaVu Sans",sans-serif;
}

p {
    font-family: "Open Sans","DejaVu Sans",sans-serif;
    font-size: 1.05em;
    line-height: 1.3;
    margin-bottom: 0.75rem;
}

ol > li p, ul > li p, ul dd, ol dd, .olist .olist, .ulist .ulist, .ulist .olist, .olist .ulist {
    line-height: 1.3;
    margin-bottom: .25em;
}

table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6, #toctitle {
    color: rgba(74, 49, 18, 1);
    font-weight: 350;
}

#header > h1:first-child {
    color: rgba(74, 49, 18, 1);
    font-weight: 350;
}

.sidebarblock > .content > .title {
    color: rgba(74, 49, 18, 1);
    font-weight: 350;
}

#content, #header {
    max-width: 90em;
    margin-left: 2em;
}

.loweralpha {
    margin-left: 2.5em
}

.subheader, .admonitionblock td.content > .title, .audioblock > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .stemblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, table.tableblock > .title, .verseblock > .title, .videoblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title {
    color: rgba(74, 49, 18, 1);
}

g a {
    text-decoration: none;
}

.switcher {
    bottom: 0;
    padding-bottom: 60px;
    position: relative;
    top: 87%;
}

.switch {
    position: absolute;
    display: block;
    width: 80px;
    height: 44px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(111, 250, 105, 0.76);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.4), inset 0px -0px 5px rgba(236, 235, 235, 0.93);
}

input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-image: url("https://common.pages.diftech.org/docs/arch/styles/css/yoda.jpeg");
    background-position: center;
    background-size: contain;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px rgba(236, 235, 235, 0.78), inset 0px -0px 5px rgba(0,0,0,0.4);
}

input:checked + .slider {
    background-color: #fa4040;
}

input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
    background-image: url("https://common.pages.diftech.org/docs/arch/styles/css/vader.jpeg");
    background-position: center;
    background-size: contain;
}